.box_cont {
  background-color: red;
}

.grid_cont {
  background-color: red;
}

.page {
  font-family: "Averia Serif Libre", cursive;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 30px;
  margin-left: 2rem;
}
