.txt_stack {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1vw;
  justify-content: space-around;
  margin: 1rem 0rem;
}

.txt_stack p {
  font-size: 1vw;
  text-transform: uppercase;
  padding: 5px 15px;
  /* margin: 10px 5px; */
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}

@media (max-width: 600px) {
  .txt_stack {
    display: flex;
    flex-wrap: wrap;
  }

  .txt_stack p {
    font-size: 2vw;
  }

  .project_btn {
    margin: 1rem auto;
    font-size: 0.6px;
    padding: 3px 10px;
  }
}
