/* .hero {
  background-color: green;
  height: 90vh;
  display: flex;
  position: relative;
  margin-bottom: 10rem;
} */
/* .title_left {
  height: 100%;
  width: 50%;
  padding-top: 10%;
  padding-left: 4rem;
  position: relative;
  background-color: red;
}

.title_left h3 {
  font-family: "Averia Serif Libre", cursive;
  font-size: 40px;
}
.title_headline {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  padding-left: 40px;
  margin-bottom: 1rem;
}

.title_left span {
  font-family: "Averia Serif Libre", cursive;
  font-size: 4rem;
  position: absolute;
  top: 43%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: 0;
} */
.desc_right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  height: 80vh;
}
.desc_right p {
  margin-left: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 33px;
  margin-bottom: 2rem;
}

/* .row-letter {
  font-size: 5rem;
  font-weight: 500;
  position: relative;
  letter-spacing: -0.8rem;
  display: inline-block;
  white-space: nowrap;
} */

.new_cont {
  /* background-color: orange; */
  display: flex;
  padding-top: 5rem;
}

.banner_cont_left {
  width: 50%;
  /* background-color: green; */
}

@media (max-width: 600px) {
  .new_cont {
    /* background-color: orange; */
    display: block;
    padding-top: 3rem;
  }

  .banner_cont_left {
    width: 100%;
  }

  .desc_right {
    width: 100%;
    height: 65vh;
    /* background-color: green; */
  }

  .desc_right p {
    margin-left: 1rem;
    font-size: 1.8rem;
  }
}
