.about {
  /* background-color: pink; */
  height: 100%;
  margin-bottom: 10rem;
  padding-top: 5rem;
}

.about-title {
  font-family: "Averia Serif Libre", cursive;
  font-weight: 700;
  font-size: 30px;
  margin-left: 2rem;
}

.about-btn {
  display: flex;
  font-family: "Averia Serif Libre", cursive;
  /* background-color: rgb(233, 233, 233); */
}

.about-btn .develop_cont {
  /* border-top-left-radius: 20px; */
  border-top-right-radius: 20px;
  /* border-bottom-left-radius: 20px; */
}
.about-btn .design_cont {
  border-top-left-radius: 20px;
  /* border-top-right-radius: 20px; */
  /* border-bottom-right-radius: 20px; */
}

.active:hover {
  margin-top: -10px;
  z-index: 10;
  opacity: 1;
}
.design_cont {
  text-transform: uppercase;
  /* background-color: pink; */
  width: 50%;
  font-size: 70px;
  padding: 10px 0;
  box-shadow: -9px -8px 16px 1px rgba(0, 0, 0, 0.3);
}

.develop_cont {
  text-transform: uppercase;
  font-size: 70px;
  padding: 10px 0;
  width: 50%;
  box-shadow: 9px -8px 16px 1px rgba(0, 0, 0, 0.3);
}

.info_cont {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(233, 233, 233);
}

.info {
  padding: 5rem 5rem;
  margin-left: 50%;
}

.info p {
  margin-bottom: 1rem;
  font-size: 20px;
}
/*
@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
} */
